:root {
  --primary-white-color: #ffffff;
  --accent-color: #28a745;
  --prrimary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --hero-text: #e9e9e9;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
.header {
  background-color: #5e5e5e;
}
/* logo */
.header-logo {
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* Hero */

.hero {
  background-color: #5e5e5e;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-text);
}

.hero-text {
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: var(--hero-text);
}

.button {
  background-color: var(--accent-color);
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  border: none;
  padding: 10px 30px;
}

