:root {
  --primary-white-color: #ffffff;
  --accent-color: #28a745;
  --prrimary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
.header {
  background-color: #5e5e5e;
}
/* logo */
.header-logo {
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);
}
