<section class="cases" id="cases">
  <div class="container">
    <h2 class="cases-title">This is what we do</h2>
    <h3 class="cases-title">Business Cases</h3>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-card gallery">
      <li>
        <div class="cases-link-wrapper">
          <a class="cases-link" href="./images/cases/cases-big.jpg">
            <img
              width="320"
              src="./images/cases/cases-1.jpg"
              alt="We provide comfortable negotiations."
            />
          </a>
        </div>
      </li>

      <li>
        <a href="./images/cases/cases-2.jpg">
          <img
            width="320"
            src="./images/cases/cases-2.jpg"
            alt="We plan the future project step by step."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-3.jpg">
          <img
            width="320"
            src="./images/cases/cases-3.jpg"
            alt="Already in the course of implementation, we take into account the wishes of the customer."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-4.jpg">
          <img
            width="320"
            src="./images/cases/cases-4.jpg"
            alt="We are always able to come to an agreement."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-5.jpg">
          <img
            width="320"
            src="./images/cases/cases-5.jpg"
            alt="We give all of ourselves to work."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-6.jpg">
          <img
            width="320"
            src="./images/cases/cases-6.jpg"
            alt="We tend to set big goals."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-7.jpg">
          <img
            width="320"
            src="./images/cases/cases-7.jpg"
            alt="Our strength lies in teamwork."
          />
        </a>
      </li>
      <li>
        <a href="./images/cases/cases-8.jpg">
          <img
            width="320"
            src="./images/cases/cases-8.jpg"
            alt="We are accustomed to solve problems effectively."
          />
        </a>
      </li>
    </ul>
  </div>
</section>
