<section class="form">
  <div class="container">
    <img src="./images/form/form.jpg" alt="send message" class="form-img" />

    <div class="form-text-wrapper">
      <h2 class="form-title">Request Callback</h2>

      <form class="form-callback">
        <input
          class="form-input"
          type="text"
          name="user-name"
          placeholder="Enter your name"
        />
        <input
          class="form-input form-input-email"
          type="email"
          name="user-email"
          placeholder="Enter email*"
        />

        <button class="button form-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
