<header class="header" id="header">
  <div class="container">
    <nav class="header-nav">
      <a
        class="header-logo link animate__animated animate__flash"
        href="./index.html"
        ><img src="./images/logo/logo.svg" alt="Logo" /><span class="accent"
          >Finance</span
        >
        Ledger</a
      >

      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="#hero" class="header-nav-link link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="#cases" class="header-nav-link link">Cases</a>
        </li>
        <li class="header-nav-item">
          <a href="#blog" class="header-nav-link link">Blog</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
