<section class="team">
  <div class="container">
    <p class="team-who">Who we are</p>
    <h2>Our Professional Team</h2>
    <p class="team-lorem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-card">
      <li>
        <a href="">
          <img
            src="./images/team/team-1.jpg"
            alt="Чоловік стоїть біля стіни"
            width="420"
            height="280"
          />
          <h3 class="team-card-title">John Doe</h3>
          <p class="team-card-text">President</p>
        </a>
      </li>
      <li>
        <a href="">
          <img
            src="./images/team/team-2.jpg"
            alt="Жінка сидить в кріслі"
            width="428"
            height="280"
          />
          <h3 class="team-card-title">Jane Doe</h3>
          <p class="team-card-text">Vice President</p>
        </a>
      </li>
      <li>
        <a href="">
          <img
            src="./images/team/team-3.jpg"
            alt="Чоловік працює за ноутбуком"
            width="420"
            height="280"
          />
          <h3 class="team-card-title">Steve Smith</h3>
          <p class="team-card-text">Marketing Head</p>
        </a>
      </li>
    </ul>
  </div>
</section>
