<section>
  <p>Who we are</p>
  <h2>Our Professional Team</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul>
    <li>
      <a href="">
        <img
          src="./images/team/team-1.jpg"
          alt="Чоловік стоїть біля стіни"
          width="420"
          height="280"
        />
        <h3>John Doe</h3>
        <p>President</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="./images/team/team-2.jpg"
          alt="Жінка сидить в кріслі"
          width="428"
          height="286"
        />
        <h3>Jane Doe</h3>
        <p>Vice President</p>
      </a>
    </li>
    <li>
      <a href="">
        <img
          src="./images/team/team-3.jpg"
          alt="Чоловік працює за ноутбуком"
          width="420"
          height="280"
        />
        <h3>Steve Smith</h3>
        <p>Marketing Head</p>
      </a>
    </li>
  </ul>
</section>
