button {
  padding: 0;
  margin: 0;
  min-width: 165px;
  min-height: 48px;
  border: none;

  border-radius: 5px;

  background-color: var(--accent-color);

  font-family: inherit;

  line-height: 1.56;

  color: var(--secondary-text-color);

  cursor: pointer;
}
