.hero {
  text-align: center;

  max-width: 1360px;
  margin: 0 auto;

  padding: 279px 0 284px 0;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/city0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-title {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;

    color: var(--hero-text-color);
  }

  &-text {
    margin-bottom: 29px;

    font-size: 22px;
    line-height: 1.67;

    color: var(--hero-text-color);
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .icon-angle-right {
    fill: currentColor;
    margin-right: 5px;
  }
}
