.solutions .container {
  display: flex;
  padding: 0;
}

.solutions-description {
  padding: 84px 44px 84px 30px;
  background-color: var(--accent-color);
}

.solutions-title {
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  color: var(--secondary-text-color);
}

.solutions-text {
  margin-right: 44px;
  margin-bottom: 17px;

  line-height: 1.56;

  color: var(--secondary-text-color);
}

.solutions-button {
  min-width: 167px;
  min-height: 50px;
  border: 1px solid var(--primary-white-color);
  border-radius: 5px;
}
